pipeline/IncrementalLoadPipeline.json
{
	"name": "IncrementalLoadPipeline",
	"properties": {
		"activities": [
			{
				"name": "LookupForMaximumInsertionTym",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(inserttime) date from sinkorders1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "customerSQL_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data from orders1 to sinkorders1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupForMaximumInsertionTym",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select orderid,name,\t\nlastname,inserttime from orders1 where\n inserttime>'@{activity('LookupForMaximumInsertionTym').output.firstRow.date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "customerSQL_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "customerSQL_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-09-29T08:18:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}